.custom-select {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  min-width: 100px;
  box-sizing: content-box;
}

.custom-select.filter {
  width: 200px;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select option {
  font-weight: bold;
  font-size: 1rem;
}

.p-big {
  margin: 0 10px;
  padding: 0;
  font-size: 1.1rem;
  padding-top: 4px;
}

.p-big.moto {
  margin-bottom: 5px;
}

.p-medium {
  margin: 0 10px;
  padding: 0;
  font-size: 1rem;
  padding-top: 4px;
}

.p-small {
  margin: 0 10px 10px 10px;
  padding: 0;
  font-size: 0.9rem;
  padding-top: 4px;
}

/* .gm-style-iw button {display: none !important;} */
/* This will remove the outline/border for the focused InfoWindow */
.gm-style .gm-style-iw {
  outline: none;
}

.counter {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  background-color: rgba(70, 130, 180, 0.8); /* Softer, semi-transparent blue */
  color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.counter span {
  margin-right: 4px;
}

.count {
  font-size: 19px;
}

.counter.tatico {
  top: 70px;
}

.custom-date.filter {
  font-size: 0.78rem;
  width: 100%; /* Adjust width to fit side by side with a small gap */
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 3px;
  display: inline-block; /* Ensure the elements are inline */
}

.schedulingBox {
  background-color: #fff;
  color: #000; 
  padding: 5px;
  margin: 245px 35px 0px 40px;
  border-radius: 5px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedulingButton {
  position: absolute;
  right: 15px;
  padding: 5px 8px;
  border-radius: 3px;
  border: none;
  background-color: rgba(70, 130, 180, 0.8);
  color: #fff;
  cursor: pointer;
}