.custom-select {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  min-width: 100px;
  box-sizing: content-box;
}

.custom-select.filter {
  width: 200px;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select option {
  font-weight: bold;
  font-size: 1rem;
}

.p-big {
  margin: 0 10px;
  padding: 0;
  font-size: 1.1rem;
  padding-top: 4px;
}

.p-big.moto {
  margin-bottom: 5px;
}

.p-medium {
  margin: 0 10px;
  padding: 0;
  font-size: 1rem;
  padding-top: 4px;
}

.p-small {
  margin: 0 10px 10px 10px;
  padding: 0;
  font-size: 0.9rem;
  padding-top: 4px;
}

.filter-icon {
  position: fixed;
  top: 10px;
  left: 250px;
  z-index: 1000;
  cursor: pointer;
}

.filter-icon img {
  width: 55px;
  height: auto;
  transition: width 0.2s ease-in-out;
}

.gm-style-iw button {display: none !important;}
/* This will remove the outline/border for the focused InfoWindow */
.gm-style .gm-style-iw {
  outline: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.filter-option {
  padding: 9px 15px;
  display: block;
}

.filter-option.n1 {
  margin-top: 10px;
}

.custom-textbox.filter {
  width: 100%; /* Make the input box fill the entire width */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  padding: 8px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add a border for visual styling */
  border-radius: 4px; /* Optional: Add border-radius for rounded corners */
}

.custom-date.filter {
  font-size: 0.78rem;
  width: 92%; /* Adjust width to fit side by side with a small gap */
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
  display: inline-block; /* Ensure the elements are inline */
}

.custom-date.filter.n2 {
  width: 100%; /* Adjust width to fit side by side with a small gap */
}

.filter-option.n7 {
  display: flex;
  justify-content: space-between; /* Space out the date pickers evenly */
  flex-wrap: wrap; /* Ensure wrapping on smaller screens */
}