.sidebarInfo {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  max-height: 100vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  border-radius: 0px 0px 0px 7.5px;
  padding-bottom: 10px;
}

.sidebarInfo.open {
  transform: translateX(0);
}

.info-icon {
  position: fixed;
  top: 25px;
  right: 275px;
  z-index: 1000;
  cursor: pointer;
}

.info-icon img {
  width: 40px;
  height: auto;
  transition: width 0.2s ease-in-out;
}

.sidebarInfo-items {
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  /* gap: 1px; */
}

.sidebarInfo-item {
  background: #ffffff;
  padding: 10px 18px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.sidebarInfo-item.selected {
  background-color: #2e66a5;
  color: #fff;
}

.sidebarInfo-label.selected {
  color: #ffffff;
}

.sidebarInfo-value.selected {
  color: rgb(206, 229, 255); /* Use Material Color for emphasis */
}

.sidebarInfo-item.selectedTipoOS {
  background-color: #3e4f9a;
  color: #fff;
}

.sidebarInfo-label.selectedTipoOS {
  color: #ffffff;
}

.sidebarInfo-value.selectedTipoOS {
  color: rgb(206, 214, 255); /* Use Material Color for emphasis */
}

.sidebarInfo-item.selectedDef {
  background-color: #2e66a5;
  color: #fff;
}

.sidebarInfo-label.selectedDef {
  color: #ffffff;
}

.sidebarInfo-value.selectedDef {
  color: rgb(206, 229, 255); /* Use Material Color for emphasis */
}

.sidebarInfo-item.included {
  background-color: #5d9bd5;
  color: #fff;
}

.sidebarInfo-label.included {
  color: #ffffff;
}

.sidebarInfo-value.included {
  color: rgb(255, 255, 255); /* Use Material Color for emphasis */
}

.sidebarInfo-item.includedDef {
  background-color: #4d81b1;
  color: #fff;
}

.sidebarInfo-label.includedDef {
  color: #ffffff;
}

.sidebarInfo-value.includedDef {
  color: rgb(255, 255, 255); /* Use Material Color for emphasis */
}

.sidebarInfo-item:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow all around */
  transform: translateY(-4px);
}

.sidebarInfo-label {
  font-size: 1em;
  color: #3a3a3a;
}

.sidebarInfo-value {
  font-size: 1.3em;
  color: rgba(70, 121, 180); /* Use Material Color for emphasis */
  font-weight: bold;
  margin-top: 4px;
}

.counter {
  position: fixed;
  top: 75px;
  right: 270px;
  padding: 8px 12px;
  background-color: rgba(70, 121, 180, 0.8); /* Softer, semi-transparent blue */
  color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: bold;
  z-index: 1000;
/*   display: flex;
  align-items: center; */
}

.counter span {
  margin-right: 4px;
}

.count {
  font-size: 19px;
}

.counter.tatico {
  top: 145px;
}