* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  b, strong {
    font-weight: bold;
}
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  .custom-select {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    min-width: 100px;
    box-sizing: content-box;
  }

  /* Remove the dropdown arrow for a cleaner look */
  .custom-select::-ms-expand {
    display: none;
  }

  .custom-select option {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .p-big {
    margin: 0 10px;
    padding: 0;
    font-size: 1.1rem;
    padding-top: 4px;
  }
  
  .p-big.moto {
    margin-bottom: 5px;
  }
  
  .p-medium {
    margin: 0 10px;
    padding: 0;
    font-size: 1rem;
    padding-top: 4px;
  }
  
  .p-small {
    margin: 0 10px 10px 10px;
    padding: 0;
    font-size: 0.9rem;
    padding-top: 4px;
  }

  .filter-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
  }

  .gm-style-iw button {display: none !important;}

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .filter-option {
    padding: 10px;
  }